.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.Navbar{
  background-color: antiquewhite !important;
}
.form{
  display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 3% 15%;
    background-color: rgb(239, 243, 242);
}
.footer1{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 5%;
  background-color: antiquewhite;
}